<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" 
xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
xsi:schemaLocation="http://www.springframework.org/schema/beans 
http://www.springframework.org/schema/beans/spring-beans-2.5.xsd">

<bean id="e" class="com.velocity.byType.Employee" autowire="byType">
	<property name="name" value="shubham"></property>
</bean>
<bean id="dept" class="com.velocity.byType.Department">
	<property name="dept_name" value="IT Department"></property>
	<property name="no_of_employee" value="25"></property>
</bean>
</beans>